<link rel="stylesheet" href="~/css/style.css" />
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <img src="~/images/car.jpg" alt="Car_Image" class="image">
    <div class="overlay">
        <div class="text">Wlcome to My Car World</div>
    </div>
</div>